<head>
    <title>Captain's Log</title>
</head>
<body>
    <div id='wrapper' class="container_12">
    <h1>Captain's Log</h1>
    
    <div id="rail" class="grid_2">
    Source:
    <ul name='source'>
        <li><a href="javascript:facet_clicked();" class='facet ${ 'selected' if selected_source == 'All' else '' }' title='All'>All</a></li>
        % for source in sources:
        <li><a href="javascript:facet_clicked();" class="facet ${ 'selected' if selected_source == source['_id'] else '' }" title='${ source['_id'] }'>${ source['_id'] }</a> (${ int(source['value']['count']) })</li>
        % endfor
    </ul>
    
    Date range:
    <ul name='when'>
        % for when in whens:
        <li><a href="javascript:facet_clicked();" class="facet ${ 'selected' if selected_when == when else '' }" title='${ when }'>${ when }</a></li>
        % endfor
    </ul>
    
    % for facet in facets:
    ${ facet['label'] }
    <ul name='${ facet['name'] }'>
        <li><a href="javascript:facet_clicked();" class='facet ${ 'selected' if not facet['selected'] or facet['selected'] == 'All' else '' }' title='All'>All</a></li>
        % for value in facet['values']:
        <li><a href="javascript:facet_clicked();" class='facet ${ 'selected' if facet['selected'] == value['_id'] else '' }' title='${ value['_id'] }'>${ value['_id'] }</a> (${ int(value['value']['count']) })</li>
        % endfor
    </ul>
    % endfor
    </div>
    
    <div id="content" class="grid_10">
        <table id="event-table">
        <thead>
        <tr>
            <th><a href="javascript:update_view(null,'source')">Source<a/></th>
            <th><a href="javascript:update_view(null,'host')">Host</th>
            <th><a href="javascript:update_view(null,'remote_log')">Remote Log</th>
            <th><a href="javascript:update_view(null,'auth_user')">Auth User</th>
            <th><a href="javascript:update_view(null,'datetime')">Datetime</th>
            <th><a href="javascript:update_view(null,'verb')">Verb</th>
            <th><a href="javascript:update_view(null,'path')">Path</th>
            <th><a href="javascript:update_view(null,'protocol')">Protocol</th>
            <th><a href="javascript:update_view(null,'statuscode')">Statuscode</th>
            <th><a href="javascript:update_view(null,'bytes')">Bytes</th>
        </tr>
        </thead>
        <tbody>
        % for event in events:
        <tr>
            <td>${ event['source'] }</td>
            <td>${ event['host'] }</td>
            <td>${ event['remote_log'] }</td>
            <td>${ event['auth_user'] }</td>
            <td>${ event['datetime'] }</td>
            <td>${ event['verb'] }</td>
            <td>${ event['path'] }</td>
            <td>${ event['protocol'] }</td>
            <td>${ event['statuscode'] }</td>
            <td>${ event['bytes'] }</td>
        </tr>
        % endfor
        </tbody>
        </table>
        
        % if int(page) > 0:
        <a href="javascript:update_view(${ int(page) - 1 })">Previous</a>
        % endif
        % if (int(page) + 1) * 20 < total_events:
        <a href="javascript:update_view(${ int(page) + 1 })">Next</a>
        % endif
    </div>
    </body>

    <link rel="stylesheet" type="text/css" href="assets/reset.css" />
    <link rel="stylesheet" type="text/css" href="assets/960.css" />
    <link rel="stylesheet" type="text/css" href="assets/text.css" />
    <link rel="stylesheet" type="text/css" href="assets/captainslog.css" />
    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'></script>
    <script type='text/javascript' src='assets/tablesorter/jquery.tablesorter.min.js'></script>
    <script type='text/javascript'>
    var q = {
        'source': '${ selected_source }',
        % for facet in facets:
        '${ facet['name'] }': '${ facet['selected'] }',
        % endfor
        'when': '${ selected_when }',
        };
        
    function facet_clicked() {    
        q[$(this).parent().parent().attr('name')] = $(this).text();
        
        update_view();
        
        return false;
    }
    
    function update_view(page, sort) {
        if (!page) {
            page = 0;
        }
        
        if (!sort) {
            sort = '${ sort }';
            sortdir = 1;
        } else {
            if (sort == '${ sort }') {
                sortdir = (${ sortdir } == 1) ? -1 : 1;
            } else {
                sortdir = 1;
            }
        }
        
        params = new Array();
        
        for (var i in q) {
            params.push(i + '=' + q[i]);
        }
        
        params.push('page=' + page)
        params.push('sort=' + sort)
        params.push('sortdir=' + sortdir)
        
        window.location.href = '?' + params.join('&')
    }
    
    $(document).ready(function () {
        $('.facet').click(function() {
            q[$(this).parent().parent().attr('name')] = $(this).text();
            
            update_view();
            
            return false;
        });
    })
    </script>
</body>