<head>
    <title>Captain's Log</title>
    
    <link rel="stylesheet" type="text/css" href="assets/reset.css" />
    <link rel="stylesheet" type="text/css" href="assets/960.css" />
    <link rel="stylesheet" type="text/css" href="assets/text.css" />
    <link rel="stylesheet" type="text/css" href="assets/captainslog.css" />
</head>
<body>
    <div id='wrapper' class="container_12">
    <h1>Captain's Log</h1>
    
    <div id="rail" class="grid_2">
    % for facet in facets:
    <strong>${ facet['label'] }</strong>
    <ul name='${ facet['name'] }'>
		## Special casing for datetime column
		% if facet['name'] != 'datetime':
        <li><a href="javascript:facet_clicked();" class='facet ${ 'selected' if not facet['selected'] or facet['selected'] == 'All' else '' }' title='All'>All</a></li>
        % endif
		% for value in facet['values']:
        <li><a href="javascript:facet_clicked();" class='facet ${ 'selected' if facet['selected'] == value['_id'] else '' }' title='${ value['_id'] }'>${ value['_id'] }</a>${ ' (' + str(int(value['value']['count'])) + ')' if value['value']['count'] else '' }</li>
        % endfor
    </ul>
    % endfor
    </div>
    
    <div id="content" class="grid_10">
        <table id="event-table">
        <thead>
        <tr>
            % for column in settings.DISPLAY_COLUMNS:
            <th>${ column.capitalize() }<a/></th>
            % endfor
        </tr>
        </thead>
        <tbody>
        % for event in events:
        <tr>
            % for column in settings.DISPLAY_COLUMNS:
            <td>${ event[column] if column in event else '' }<a/></td>
            % endfor
        </tr>
        % endfor
        </tbody>
        </table>
        
        <div id="pager">
        % if page > 1:
        <a href="javascript:update_view(${ page - 1 })">&lt;&lt;</a>
        % endif
        % for i in range(1, page):
        <a href="javascript:update_view(${ i })">${ i }</a>
        % endfor
        <strong>${ page }</strong>
        % for i in range(page + 1, page_count + 2):
        <a href="javascript:update_view(${ i })">${ i }</a>
        % endfor
        % if page < page_count + 1:
        <a href="javascript:update_view(${ page + 1 })">&gt;&gt;</a>
        % endif
        </div>
    </div>
    
    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'></script>
    <script type='text/javascript'>
    var q = {
        % for facet in facets:
        '${ facet['name'] }': '${ facet['selected'] }',
        % endfor
        };
        
    function facet_clicked() {    
        q[$(this).parent().parent().attr('name')] = $(this).text();
        
        update_view();
        
        return false;
    }
    
    function update_view(page) {
        if (!page) {
            page = 0;
        }
        
        params = new Array();
        
        for (var i in q) {
            params.push(i + '=' + q[i]);
        }
        
        params.push('page=' + page)
        
        window.location.href = '?' + params.join('&')
    }
    
    $(document).ready(function () {
        $('.facet').click(function() {
            q[$(this).parent().parent().attr('name')] = $(this).text();
            
            update_view();
            
            return false;
        });
    })
    </script>
</body>