<head>
    <title>Captain's Log</title>
</head>
<body>
    <div id='wrapper' class="container_12">
    <h1>Captain's Log</h1>
    
    <div id="rail" class="grid_2">
    % for facet in facets:
    ${ facet['label'] }
    <ul name='${ facet['name'] }'>
		## Special casing for datetime column
		% if facet['name'] != 'datetime':
        <li><a href="javascript:facet_clicked();" class='facet ${ 'selected' if not facet['selected'] or facet['selected'] == 'All' else '' }' title='All'>All</a></li>
        % endif
		% for value in facet['values']:
        <li><a href="javascript:facet_clicked();" class='facet ${ 'selected' if facet['selected'] == value['_id'] else '' }' title='${ value['_id'] }'>${ value['_id'] }</a> (${ int(value['value']['count']) })</li>
        % endfor
    </ul>
    % endfor
    </div>
    
    <div id="content" class="grid_10">
        <table id="event-table">
        <thead>
        <tr>
            <th>Source<a/></th>
            <th>Host</th>
            <th>Remote Log</th>
            <th>Auth User</th>
            <th>Datetime</th>
            <th>Verb</th>
            <th>Path</th>
            <th>Protocol</th>
            <th>Statuscode</th>
            <th>Bytes</th>
        </tr>
        </thead>
        <tbody>
        % for event in events:
        <tr>
            <td>${ event['source'] }</td>
            <td>${ event['host'] }</td>
            <td>${ event['remote_log'] }</td>
            <td>${ event['auth_user'] }</td>
            <td>${ event['datetime'] }</td>
            <td>${ event['verb'] }</td>
            <td>${ event['path'] }</td>
            <td>${ event['protocol'] }</td>
            <td>${ event['statuscode'] }</td>
            <td>${ event['bytes'] }</td>
        </tr>
        % endfor
        </tbody>
        </table>
        
        % if int(page) > 0:
        <a href="javascript:update_view(${ int(page) - 1 })">Previous</a>
        % endif
        % if (int(page) + 1) * 20 < total_events:
        <a href="javascript:update_view(${ int(page) + 1 })">Next</a>
        % endif
    </div>
    </body>

    <link rel="stylesheet" type="text/css" href="assets/reset.css" />
    <link rel="stylesheet" type="text/css" href="assets/960.css" />
    <link rel="stylesheet" type="text/css" href="assets/text.css" />
    <link rel="stylesheet" type="text/css" href="assets/captainslog.css" />
    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'></script>
    <script type='text/javascript' src='assets/tablesorter/jquery.tablesorter.min.js'></script>
    <script type='text/javascript'>
    var q = {
        % for facet in facets:
        '${ facet['name'] }': '${ facet['selected'] }',
        % endfor
        };
        
    function facet_clicked() {    
        q[$(this).parent().parent().attr('name')] = $(this).text();
        
        update_view();
        
        return false;
    }
    
    function update_view(page) {
        if (!page) {
            page = 0;
        }
        
        params = new Array();
        
        for (var i in q) {
            params.push(i + '=' + q[i]);
        }
        
        params.push('page=' + page)
        
        window.location.href = '?' + params.join('&')
    }
    
    $(document).ready(function () {
        $('.facet').click(function() {
            q[$(this).parent().parent().attr('name')] = $(this).text();
            
            update_view();
            
            return false;
        });
    })
    </script>
</body>